	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{url_for('static', filename='img/fav.png')}}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>house plus</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{url_for('static', filename='css/linearicons.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/nice-select.css')}}">					
			<link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="{{url_for('static', filename='img/zillow_logo.png')}}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="#home">Home</a></li>
				          <li><a href="#service">Background</a></li>
				          <li><a href="#feature">Features</a></li>
				          <li><a href="#price">Price</a></li>
				          <li><a href="#testimonial">Testimonial</a></li>
				          <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
				              <li><a href="generic.html">Generic</a></li>
				              <li><a href="elements.html">Elements</a></li>
				            </ul>
				          </li>
				          <li><a class="ticker-btn" href="#">Get Started</a></li>				          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-8">
							<h1 class="text-white">
								House Price Prediction Plus				
							</h1>
							<p class="pt-20 pb-20 text-white">
								Improve the algorithm that changed the world of real estate
							</p>
							
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->	

			<!-- Start background Area -->
			<section class="feature-area pb-100" id="service">
				<div class="container">
					<!-- <div class="row mockup-container">
						<img class="mx-auto d-block img-fluid" src="img/laptop.png" alt="">
					</div> -->
					<div class="row d-flex justify-content-center">
						<div class="menu-content pt-100 pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Background</h1>
								<p>Pre-class homework for improvement of algorithm</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feature">
								<span class="lnr lnr-screen"></span>
								<h4>
									Our target
								</h4>
								<p>
									logerror between zillow's Zestimate and the actual sale price
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<span class="lnr lnr-code"></span>
								<h4>
									Time series
								</h4>
								<p>
									Using first 9 month logerrors to predict last 3 month logerrors in 2016 and 2017
								</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<span class="lnr lnr-clock"></span>
								<h4>
									Housing properties
								</h4>
								<p>
									Detail proterties and location information for further prediction
								</p>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End background Area -->

			<!-- Start intermediate Area -->
			<section class="callto-action-area relative section-gap">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Feature engineering</h1>
								<p class="text-white">Including target engineering, missing value refilling, feature adding, feature selection, weather collection</p>
								<a class="primary-btn" href="#">Target engineering</a>
								<a class="primary-btn" href="#">Feature engineering</a>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			<!-- End intermediate Area -->

			<!-- Start target engineer Area -->
			<section class="feature-area pb-100" id="feature">
				<div class="container">
					<!-- title -->
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<br><br>
								<h1 class="mb-10">Target Engineering</h1>
							</div>						
						</div>
					</div>					
					<!-- start normal detection -->
					<div class="title text-center">
						<h2 class="mb-10">Normal detection</h2>
					</div>
					<div align = "center">
						<select id="truncate_not" onchange="optionChanged(this.value)"></select>
					</div>
					<div id="target_normal"></div>
					<!-- end normal detection -->
					
					<!-- start time series detection -->
					<div class="title text-center">
						<h2 class="mb-10">Time series of logerror</h2>	
					</div>
					<div id="time_series"></div>
					<div id="time_series_small"></div>	
					<div class="title text-center">
						<br>
						<p class="mb-10">The target is stationary time series where the values are not a function of time 
							with p-value = 1e-30 by the Augmented Dickey-Fuller test </p>
					</div>	
					<!-- end time series detection -->
					<br><br>
					<!-- start location detection -->
					<div class="row align-items-center">
						<div class="col-lg-6 about-left">
							<h1>
								Is the target <br>located differently
							</h1>
							<p>
								<span>
									We have enough detailed location information, let's check whether logerror is position depended
								</span>
							</p>
							<p>Here we only show without outlier and part of the map</p>
						</div>
						<div class="col-lg-6 about-right">
							<div id = 'target_geo'></div>
						</div>
					</div>
					<!-- end location detection -->
				</div>		
			</section>
			<!-- End targe engineer Area -->
			
			<!-- Start missing value filling Area -->
			<section class="about-area section-gap">
				<div class="container">
					<!-- start feature engineering title -->
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Feature engineering</h1>
								<p>Total 58 house properties for target engineering so how to deal with them</p>
							</div>
						</div>
					</div>
					<!-- end feature engineering title -->

					<!-- start missing value detection -->
					<div class="title text-center">
							<h2 class="mb-10">Missing values detection</h2>
							<p>Initial filling missing values by descriptions</p>
					</div>
					<div id='missing'></div>
					<div class="title text-center">
						<p>Delete features that have more than 95% missing values or all equal values 
							<br>
							Delete confusing features or same descripted features
						</p>
					</div>
					<!-- end missing value detection -->
					<br><br>
					<!-- start KNN filling -->	
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h3 class="mb-10">Using  k-nearest neighbors to fill
									geographic features missing value</h3>
								<p>With accuracy location information, it is easy to use KNN to classify and fill in missing value.</p>
							</div>
						</div>
					</div>
					<div align = "center">
						<select id="geo_select" onchange="geo_option(this.value)"></select>
					</div>
					<br><br>
					<div class="row align-items-center">
						<div class="col-lg-6 about-left">
							<div id = "init_geo"></div>
						</div>
						<div class="col-lg-6 about-left">
								<div id = "final_geo"></div>
							</div>
					</div>
					<!-- end KNN filling -->	
				</div>	
			</section>
			<!-- End missing value filling Area -->

			<!-- Start Feature adding Area -->
			<section class="home-aboutus-area">
				<div class="container">
					<div class="title text-center">
						<br><br>
						<h2 class="mb-10">Features introduction and adding</h2>
						<p>Classify features and using decision tree model accuracy to determine important extra features</p>
					</div>
					<div class="row">
						<div class="col-lg-6 secvice-left">
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>0 1</h1>
								</div>
								<div class="desc">
									<h4> Cooling and heating system</h4>
									<p>Different types cooling and heating systems.<br>Extra features: whether has airconditions/heatings</p>
								</div>
							</div>
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>03</h1>
								</div>
								<div class="desc">
									<h4>Square feet informations</h4>
									<p>Different rooms or total square feet informations<br>Extra features: proportion of real and calculated area</p>
								</div>
							</div>
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>05</h1>
								</div>
								<div class="desc">
									<h4>Room counts</h4>
									<p>Different rooms number counts<br>Extra features: total/extra rooms number</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-6 secvice-right">
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>02</h1>
								</div>
								<div class="desc">
									<h4>Pools/garages informations</h4>
									<p>Pool/garages types, area and numbers<br>Extra features: whether has pool/graages</p>
								</div>
							</div>
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>04</h1>
								</div>
								<div class="desc">
									<h4>Geographic informations</h4>
									<p>Latitude, longitude and other geographic informations<br>Extra features: zip/city/county counts, locations, etc</p>
								</div>
							</div>
							<div class="single-service d-flex flex-row pb-30">
								<div class="icon">
									<h1>06</h1>
								</div>
								<div class="desc">
									<h4>Other informations</h4>
									<p>Such as tax or years built<br>Extra features: built life, tax score, etc</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="title text-center">
						<div id="feature_add" ></div>	
					</div>
					<div class="title text-center">
						<br><br>
						<p>Final extra feature adding: N-life, N-ValueRatio, N-zip_count, N-Avg-structuretaxvaluedollarcnt</p>
					</div>
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 no-padding about-left relative">
							<div class="overlay overlay-bg"></div>	
							<div id='temp_plot'></div>
						</div>
						<div class="col-lg-4 no-padding about-right" >
							<h3 style="margin-left:20px">Extreme temps <br> And total extreme temp hours</h3>
							<p style="margin-left:20px"><span>using darksky api to collect hourly weather data in different locations in January and Auguest</span></p>
							<div align = "center">
								<select id="temp_sel" onchange="temp_sel(this.value)"></select>
							</div>
							<p></p>
						</div>
					</div>
				</div>	
				<br><br>
			</section>
			<!-- End Feature adding Area -->
			
			

			<!-- Start feature selection Area -->
			<section class="home-video-area">
				<div class="container-fluid">
					<div class="title text-center">
						<h2 class="mb-10">Feature selection</h2>
						<p>Using 3 different strategy to select with model RMSE detection</p>
					</div>
					<div class="row justify-content-end align-items-center">
						<div class="col-lg-4 no-padding video-right">
							<p class="top-title">Feature Selection</p>
							<h1>Feature importance</h1>
							<p><span>Less importance may not be necessary</span></p>
							<p>
								Using light GBM model and kFold=3 to get feature importance and 
								delete least important features to rerun the model to get the RMSE
							</p>
							<div align = "center">
								<select id="sel_feature" onchange="feature_importance(this.value)"></select>
							</div>
						</div>
						<section class="col-lg-6 about-left">
							<div class="overlay overlay-bg"></div>
							<div class="container">
								<div id="feature_imp">
								</div>
							</div>
						</section>											
					</div>
					<br><br>
					<div class="container-fluid">
						<div class="row align-items-center">
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-8 no-padding about-left relative">
									<div class="overlay overlay-bg"></div>
									<div id='vif_plot'></div>
								</div>
								<div class="col-lg-4 no-padding about-right">
									<h1>Multicollinearity<br>
										causes feature deletion</h1>
									<p><span>Using Variance Inflation Factor to determine the multicollinearity</span></p>
									<p>
										Multicollinearity causes huge problems for linear regression but is fine for decision tree models. 
										But dropping VIF features will help modeling. Also use model accuracy to decide.
										<br>
										Delete bathroomcnt and assessmentyear
									</p>
									<div align = "center">
										<select id="sel_vif" onchange="vif_select(this.value)"></select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row justify-content-end align-items-center">
							<div class="col-lg-4 no-padding video-right">
								<p class="top-title">Feature Selection</p>
								<h1>Correlation</h1>
								<p><span>Correlations of feature and target is not high but correlations between features are high</span></p>
								<p>
									Using light GBM model and kFold=3 to get feature importance and 
									delete the least important features to rerun the model to get the RMSE
									<br>
									Delete regionidzip
								</p>
								<div align = "center">
									<select id="sel_cor" onchange="correlation(this.value)"></select>
								</div>
							</div>
							<section class="col-lg-6 about-left">
								<div class="overlay overlay-bg"></div>
								<div class="container">
									<div id="cor_plot">
									</div>
								</div>
							</section>											
					</div>
					<br><br>
					<div class = "container">
						<div class="row align-items-center">
							<div class="col-lg-6 about-left">
								<div id = 'outlier_plot'></div>
							</div>
							<div class="col-lg-6 about-right">
								<h1>
									Outlier removal
								</h1>
								<p>
									<span>
										Most of the data is in between -0.416 and 0.4
									</span>
								</p>
								<p>Use different region of target to test the accuracy of the model</p>
							</div>
						</div>
					</div>
					<!-- <div class="container-fluid">
						<div class="row align-items-center">
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-8 no-padding about-left relative">
									<div class="overlay overlay-bg"></div>
									<div id='outlier_plot'></div>
								</div>
								<div class="col-lg-4 no-padding about-right">
									<h1>Outlier removal</h1>
									<p><span>Most of the data is in between -0.416 and 0.4</span></p>
									<p>
										Use different region of target to test the accuracy of the model
									</p>
									<div align = "center">
										<select id="outlier_sel" onchange="outlier(this.value)"></select>
									</div>
								</div>
							</div>
						</div>
					</div>	 -->
				</div>	
			</section>
			<!-- End home-aboutus Area -->


				
			
			<!-- Start callto-action Area -->
			<section class="callto-action-area relative section-gap">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Let's move on to Models</h1>
								<p class="text-white">Final scores of kaggle competition is used as the standard</p>
							</div>
						</div>
					</div>	
				</div>	
			</section>
			<!-- End calto-action Area -->
		
			<!-- Start price Area -->
			<section class="price-area section-gap" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">4 Models for predictions</h1>
								<p>3 decision trees and 1 neural network</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Light GBM</h4>
								</div>
								<ul class="lists">
									<li>Mostly opt features</li>
									<li>Bayes opt for parameters</li>
									<li>Kfold=3 or 5</li>
									<li>submission performation</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">Best</span><h1> 476 </h1><span class="time">From <br> 3774</span>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Catboost</h4>
								</div>
								<ul class="lists">
									<li>Bayes opt for parameters</li>
									<li>Initial and cleanup data</li>
									<li>Kfold=3 or 5</li>
									<li>Ensemble 5 random state</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">Best</span><h1> 174 </h1><span class="time">From <br> 3774</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>xgboost and neural network</h4>
								</div>
								<ul class="lists">
									<li>No categorical feature setting</li>
									<li>Secure Online Transfer</li>
									<li>NN is not suitable</li>
									<li>Initial and cleanup</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">Best</span><h1> 678 </h1><span class="time">From<br> 3774</span>
									</div>
								</div>
							</div>				
						</div>								
					</div>
				</div>	
			</section>
			<!-- End price Area -->

			<!-- Start testimonial Area -->
			<section class="testimonial-area relative section-gap" id="testimonial">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Ensemble 4 models by "Leaking data"</h1>
								<p>2016 Oct, Nov and Dec data is public, ensemble models by different weights towards leaking data by Particle swarm optimization</p>
							</div>
						</div>
						<img src="https://raw.githubusercontent.com/guofei9987/pictures_for_blog/master/heuristic_algorithm/pso.gif" alt="">
					</div>										
				</div>	
			</section>
			<!-- End testimonial Area -->
			
			
			<!-- Start latest-blog Area -->
			<section class="latest-blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Discussion</h1>
								<p>Where is possible to improve the scores</p>

								<h4 style="color:#069">Outlier removal is not good enough</h4>
								<br><br>
								<h4 style="color:#069">Try different NN leaking data is not accuracy</h4>
							</div>
						</div>
					</div>				
				</div>	
			</section>
			<!-- End latest-blog Area -->
			

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">	
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<div class="" id="mc_embed_signup">
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->		

			<script src="{{url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{{url_for('static', filename='js/easing.min.js')}}"></script>			
			<script src="{{url_for('static', filename='js/hoverIntent.js')}}"></script>
			<script src="{{url_for('static', filename='js/superfish.min.js')}}"></script>	
			<script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>	
			<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>			
			<script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>			
			<script src="{{url_for('static', filename='js/parallax.min.js')}}"></script>		
			<script src="{{url_for('static', filename='js/mail-script.js')}}"></script>	
			<script src="{{url_for('static', filename='js/main.js')}}"></script>
			<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
			<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			<script src="{{url_for('static', filename='plot_js/target.js')}}"></script>	
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>
			<script src="https://code.highcharts.com/modules/heatmap.js"></script>
			<script type="text/javascript" src="{{url_for('static', filename='plot_js/missing.js')}}"></script>
			<script type="text/javascript" src="{{url_for('static', filename='plot_js/KNN.js')}}"></script>
			<script type="text/javascript" src="{{url_for('static', filename='plot_js/features.js')}}"></script>
		</body>
	</html>



